@font-face {
    font-family: 'Manjari';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Manjari Regular'), local('Manjari-Regular'), url(https://fonts.gstatic.com/s/manjari/v3/k3kQo8UPMOBO2w1UfdnoLg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manjari;
}

.container {
    display: grid;
    grid: 64px 650px 820px 1289px 954px 80px / 60% 40%;
    grid-gap: 1px;
    overflow: hidden;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    border: 1px solid blcack;
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    float: left;
    margin-left: 24px;
    text-align: center;
    transform: translate(0, 9px);
}

.ic-logo {
    width: 14%;
}

#colmar {
    color: black;
    font-weight: 800;
}

.academy {
    color: gray;
    font-weight: 400;
    font-size: 1.5rem;
}

nav {
    margin-right: 24px;
    width: 500px;
    height: 65px;
    display: flex;
    align-items: center;
    float: right;   
    text-align: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0 16px;
}

nav a {
    text-decoration: none;
    color: gray;
    font-size: 1.09rem;
    
}

nav a:hover {
    border-radius: 6px;
    background-color: grey;
    color: white;
    padding: 10px;
    transition: color 750ms ease-in, background-color 750ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.11rem;
}
/* Section-Two */
.sec-two {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-color: gray;
    overflow: hidden;
}

#particles-js {
    width: 100%;
    height: 100%;
}

.learn {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 20px 525px;
    color: black;
    padding-top: 100px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.learn h1 {
    font-size: 3.1rem;
    line-height: 60px;
    margin-bottom: 60px;
}

.learn h4 {
    font-size: 1.8rem;
    margin-bottom: 80px;
    line-height: 40px;
}

#start-here {
    border: 2px solid grey;
    color: white;
    text-align: center;
    background-color: darkgrey;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#start-here:hover {
    color: darkgray;
    background-color: white;
}


/* Section 3 Left-Side */
.sec-three {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: #F8F8FF;
    display: grid;
    grid: 457.9px 70px 90px 40px / 1fr;
    grid-gap: 32px;
}

.information-image {
    grid-row: 1 / 2;
    grid-column: 1;
    margin: auto;
}

.information-image img {
    height: 393.9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.keep-practising {
    grid-row: 2 / 3;
    grid-column: 1;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.latin-paragraph {
    grid-row: 3 / 4;
    grid-column: 1;
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 200;
    padding-left: 24px;
    width: 90%;
    margin: 0 auto;
}

.sign-off {
    grid-row: 4 / 5;
    grid-column: 1;
    font-weight: 700;
    margin-top: 15px;
    padding-left: 24px;
    font-size: 1.2rem;
    position: relative;
    top: 25px;
}

/* Section 3 Right-Side */
.sec-three-partll {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border-left: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid: 250px 250px 250px 65px / 1fr;
    grid-row-gap: 2px;
}

.article {
    grid-row: 1 / 2;
    grid-column: 1;
    border-bottom: 1px solid gray;
    grid-row-gap: 200px;
}

.box {
    position: absolute;
    width: 38%;
    margin: 20px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.box img {
    height: auto;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.text {
    margin: 20px;
    width: 60%;
    text-align: center;
    line-height: 56px;
}

.text h2 {
    font-size: 2rem;
}

.text p{
    font-size: 1.2rem;
}

#read-more {
    color: rgb(59, 59, 240);
    cursor: pointer;
}

.second-article {
    grid-row: 2 / 3;
    grid-column: 1;
    border-bottom: 1px solid gray;
}

.third-article {
    grid-row: 3 / 4;
    grid-column: 1;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}

#guest-lecture {
    line-height: 30px;
}

.final-article {
    grid-row: 4 / 5;
    grid-column: 1;
    border-top: 1px solid gray;

}
/**/
.sec-four {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    backgcround-color: rgb(216, 216, 216);
    width: 100%;
    position: absolute;
    top: 1536px
}

.start-learning {
    position: absolute;
    width: 100%;
    margin: 64px auto;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-learning h1{
    color: rgb(94, 94, 94);
    font-size: 3rem;
    font-weight: 700;
}

.course-options {
    position: absolute;
    transform: translate(72px, 192px);
    width: 1375px;
    height: 1032px;
    border: 2px solid dblack;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.subject {
    border: 2px solid bldack;
    color: black;
    height: 500px;
    width: 432px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    box-shadow: 13px 18px 48px -11px rgba(0,0,0,0.75);
    background-color: white;
}

.picture {
    height: 222px;
    width: 100%;
}

.picture img{
    height: auto;
    width: 432px;
}

.description {
    width: 100%;
    height: 262px;
}

.details {
    margin: 30px auto;
    width: 90%;
    height: 200px;
    color: rgb(88, 88, 88);
    text-align: center;
}

.details h2 {
    color: rgb(51, 51, 51);
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.details hr {
    transform: translateY(-23px);
    height: 3px;
    background: black;
    box-shadow: 13px 18px 48px -11px rgba(0,0,0,0.75);
}

.details h3 {   
    color: rgb(189, 189, 189);
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.details p{
    font-size: 1.4rem;
}

.animation-area {
    background-color: rgb(216, 216, 216);
    height: 1289px;
    width: 100%;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(29, 29, 29, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0.5s;
}

.box-area li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0.2s;
    animation-duration: 12s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0.4s;
}

.box-area li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0.5s;
    animation-duration: 18s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0.5s;
}

.box-area li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0.2s;
    animation-duration: 12s;
}

.box-area li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0.7s;
}

.box-area li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 0.15s;
    animation-duration: 45s;
}

.box-area li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0.2s;
    animation-duration: 35s;
}

.box-area li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0.5s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(-1300px) rotate(720deg);
        opacity: 1;
    }
}

/* Section Five */
.sec-five {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
}

.video-content {
    position: absolute;
    transform: translate(24px, 192px);
    width: 1482px;
    height: 700px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.lefty {
    width: 62%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.video video{
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    box-shadow: 13px 18px 48px -11px rgba(0,0,0,0.75);
}

.video-text {
    width: 100%;
    height: 168px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.reimagine-urban, .urban {
    width: 100%;   
    text-align: center;
}

.sub-title {
    font-size: 2rem;
}

.latin-text {
    height: 90px;
    font-size: 1.2rem;
    line-height: 30px;
}
.righty {
    border: 2px solid yellow;
    width: 37%;
    height: 60%;
    display: inline-flex;
    flex-direction: column;
}

.fisma, .now-then {
    width: 100%;
    border: 2px solid black;
    height: 50%;
    box-shadow: 13px 18px 48px -11px rgba(0,0,0,0.75);
}

.prototype {
    background-color: rgb(196, 196, 196);
}

.inner-box {
    border: 2px solid blue;
    margin: 12px;
    height: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture-box {
    border: 2px solid red;
    width: 35%;
}

.texting-box {
    border: 2px solid red;
    width: 60%;
}



.footer {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    background-color: whitesmoke;
    border-top: 2px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.foot {
    width: 100%;
    padding-top: 16px;
    font-size: 1.1rem;
}

.copy {
    display: inline-block;
    padding-left: 24px;
}

.legal {
    padding-right: 24px;
    word-spacing: 10px;
    cursor: pointer;
    float: right;
    color: darkgray;
}

.terms {
    color: darkgray;
}

.privacy {
    color: darkgray;
}

.terms:hover {
    color: blue;
}

.privacy:hover {
    color: blue;
}





































/*

.social {
    border: 2px solid blhack;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;

}

.fa {
    border: 16px solid black;
    border-radius: 100%;
    background-color: black;
}

.fa-twitter:hover {
    color: skyblue;
    transition: color 750ms ease-in-out;
}

.fa-instagram:hover {
    color: pink;
    transition: color 750ms ease-in-out;
}

.fa-facebook:hover {
    color: blue;
    transition: color 750ms ease-in-out;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style-type: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1200px) rotate(720deg);
        opacity: 0;
    }
}

*/

/*
@keyframes alter {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
*/